{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Add Category{% endblock %}</h1>
{% endblock %}

{% block content %}
	Current categories:
	<ul>
	{% for category in categories %}
		<li>{{ category['name'] }}</li>
	{% endfor %}
	</ul>
	<form method="post">
		<label for="category">Category name</label>
		<input name="category_name" id="category" required>
		<input type="submit" value="Add Category">
	</form>
{% endblock %}

