{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Add Player to {{ league_name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
	<form method="post">
		<label for="name">Player name</label>
		<input name="name" id="name" required>
		<input type="submit" value="Add Player">
	</form>
{% endblock %}

