{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Leagues{% endblock %}</h1>
{% endblock %}

{% block content %}
	<table>
		<tr>
			<th> League Name </th>
			<th> Commissioner </th>
		</tr>
	{% for league in league_list %}
		<tr> 
			<td> {{ league['name'] }} </td>
			<td> {{ league['commissioner'] }} </td>
		</tr>
	{% endfor %}
	</table>

{% endblock %}

