{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %} {{ md['league_name'] }}: Match Day {{ md['day'] }} {% endblock %}</h1>
{% endblock %}

{% block content %}
	<form method="post">
		<table>
			<tr>
				<th>#</th>
				<th>Player</th>
				<th>Correct Answer</th>
				<th>Given Answer</th>
				<th>Correct?</th>
			</tr>
			{% for submission in submissions %}
				<tr>
					<td>{{ submission['question_number'] }}</td>
					<td>{{ submission['player_name'] }}</td>
					<td>{{ submission['correct_answer'] }}</td>
					<td>{{ submission['given_answer'] }}</td>
					<td>
						<select name="{{ submission['id'] }}">
							{% if submission['correct'] %}
								<option value="yes" selected>Yes</option>
								<option value="no">No</option>
							{% elif not submission['correct'] %}
								<option value="yes">Yes</option>
								<option value="no" selected>No</option>
							{% endif %}
						</select>
					</td>
				</tr>
			{% endfor %}
		</table>
		<input type="submit" value="Mark">
	</form>
{% endblock %}
