{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Welcome, Commissioner{% endblock %}</h1>
{% endblock %}

{% block content %}
	<h2> Manage Players and Schedule </h2>
	<ul>
		<li>
			<a href={{ url_for('leagues.add_players', league_name=league['name']) }}>Add Players</a>
		</li>
		<li>
			<a href={{ url_for('leagues.remove_players', league_name=league['name']) }}>Remove Players</a>
		</li>
		<li>
			<a href={{ url_for('leagues.generate_schedule', league_name=league['name']) }}>Generate Schedule</a>
		</li>
	</ul>

	<h2> Manage Match Days </h2>
	<table>
		<tr>
			<th> Match Day </th>
			<th> Action </th>
		</tr>
		{% for match in match_days %}
			<tr>
				<td>{{ match['day'] }}</td>
				<td>
					<a href={{ url_for('leagues.edit_questions', league_name=league['name'], match_day=match['day']) }}>
						Edit Questions
					</a>
					|
					<a href={{ url_for('leagues.match_day_commissioner', league_name=league['name'], match_day=match['day']) }}>
						{% if match['status'] == 1 %}Mark Submissions{% endif -%}
						{% if match['status'] == 2 %}See Results{% endif -%}
					</a>
					|
					{% if match['status'] == 0 %}
					<a href={{ url_for('leagues.change_match_day_status', league_name=league['name'], match_day=match['day']) }}>
						Launch Match Day
					</a>
					{% endif %}
					{% if match['status'] == 1 %}
					<a href={{ url_for('leagues.change_match_day_status', league_name=league['name'], match_day=match['day']) }}>
						End Match Day
					</a>
					{% endif %}
					{% if match['status'] == 2 %}
						All Submissions
					{% endif %}
			</tr>
		{% endfor %}
	</table>

	<a href={{ url_for('leagues.add_category') }}>Add Category</a>

{% endblock %}

