{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Generate Schedule for {{ league_name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
	<form method="post">
		<label for="confirm">Are you sure you want generate the schedule for this league?</label>
		<input type="checkbox" id="confirm" name="confirm" required>

		<input type="submit" value="Generate Schedule">
	</form>
{% endblock %}
