{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %} {{ league['name'] }} {% endblock %}</h1>
{% endblock %}

{% block content %}
	<h2> Standings </h2>
	<table>
		<tr>
			<th> Rank </th>
			<th> Player </th>
			<th> W </th>
			<th> T </th>
			<th> L </th>
			<th> PTS </th>
			<th> MPD </th>
			<th> TCA </th>
			<th> CAA </th>
			<th> DE </th>
			<th> OE </th>
		</tr>
	{% for player in players %}
		<tr> 
			<td> {{ player['rank'] }} </td>
			<td> <a href={{ url_for('players.profile', player=player['name']) }}> {{ player['name'] }}</a> </td>
			<td> {{ player['wins'] }} </td>
			<td> {{ player['ties'] }} </td>
			<td> {{ player['losses'] }} </td>
			<td> {{ player['points'] }} </td>
			<td> {{ player['match_points_differential'] }} </td>
			<td> {{ player['correct_answers'] }} </td>
			<td> {{ player['correct_answers_allowed'] }} </td>
			<td> {{ "{:.3f}".format(player['defensive_efficiency'] if player['defensive_efficiency'] != None else 0) }} </td>
			<td> {{ "{:.3f}".format(player['offensive_efficiency'] if player['offensive_efficiency'] != None else 0) }} </td>
		</tr>
	{% endfor %}
	</table>

	<h2> Category stats </h2>
	<div class="cat-stats">
		{% for cat_name, players in category_stats.items() %}
			<div>
				<b>
					{{ cat_name }}
				</b>
				<table>
					<tr>
						<th> Player </th>
						<th> Totals </th>
						<th> % </th>
					</tr>
					{% for player in players %}
						<tr>
							<td> {{ player['name'] }} </td>
							<td> {{ player['gets'] }}-{{ player['total'] }} </td>
							<td> {{ "{:.3f}".format(player['get_rate']) }} </td>
						</tr>
					{% endfor %}
				</table>
			</div>
		{% endfor %}
	</div>

{% endblock %}

