{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Back to the future!{% endblock %}</h1>
{% endblock %}

{% block content %}
	<p>
	This match day isn't here yet, check in again later.
	</p>
{% endblock %}
