{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Match Day Not Yet Active{% endblock %}</h1>
{% endblock %}

{% block content %}
	<p> This match day hasn't started yet, come back when it has</p>
{% endblock %}
