{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %} {{ md['league_name'] }}: Match Day {{ md['day'] }} {% endblock %}</h1>
{% endblock %}

{% block content %}
	<h2> Players who have yet to submit </h2>
	{% if not outstanding_players %}
		All players have submitted for this match day!
	{% else %}
		The following players have not yet submitted:
		<ul>
			{% for player in outstanding_players %}
				<li> {{ player['name'] }} </li>
			{% endfor %}
		</ul>
	{% endif %}
	<h2> Submissions waiting to be marked </h2>
	{% if not submissions %}
		There are no submissions waiting to be marked.
		<h2> End Match Day </h2>
		<a href={{ url_for('leagues.change_match_day_status', league_name=md['league_name'], match_day=md['day']) }}>Click here to end the current match day</a>
	{% else %}
		<form method="post">
			<table>
				<tr>
					<th>#</th>
					<th>Question</th>
					<th>Correct Answer</th>
					<th>Given Answer</th>
					<th>Correct?</th>
				</tr>
				{% for submission in submissions %}
					<tr>
						<td>{{ submission['question_number'] }}</td>
						<td>{{ submission['question'] }}</td>
						<td>{{ submission['correct_answer'] }}</td>
						<td>{{ submission['given_answer'] }}</td>
						<td>
							<input type="radio" id="yes{{ submission['id'] }}" name={{ submission['id'] }} value="yes" required>
							<label for="yes{{ submission['id'] }}">Yes</label>
							<input type="radio" id="no{{ submission['id'] }}" name={{ submission['id'] }} value="no" required>
							<label for="no{{ submission['id'] }}">No</label>
						</td>
					</tr>
				{% endfor %}
			</table>
			<input type="submit" value="Mark">
		</form>
	{% endif %}
{% endblock %}

