{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Change Match Day Status for {{ md['league_name'] }} MD{{ md['day'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
	<p>
	The status of MD{{ md['day'] }} is:
	<b>
		{% if md['status'] == 0 %}
			Future
		{% endif %}
		{% if md['status'] == 1 %}
			Live
		{% endif %}
		{% if md['status'] == 2 %}
			Past
		{% endif %}
	</b>
	</p>
	{% if md['status'] != 2 %}
		<form method="post">
			{% if md['status'] == 0 %}
				<label for="confirm">Are you sure you want to make this match day live?</label>
				<input type="checkbox" id="confirm" name="confirm" required>

				<input type="submit" value="Launch Match Day">
			{% endif %}
			{% if md['status'] == 1 %}
				<p>
				<label for="confirm">Are you sure you want to end this match day?</label>
				<input type="checkbox" id="confirm" name="confirm" required>
				</p>

				<input type="submit" value="End Match Day">
			{% endif %}
		</form>
	{% endif %}
{% endblock %}

