{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %} {{ md['league_name'] }} {% endblock %}</h1>
{% endblock %}

{% block content %}
	<table>
	{% for result in info['results'] %}
		<tr> 
			<td> {{ result['player1_name'] }} </td>
			<td> 
				<a href={{ url_for('leagues.match', match_id=result['match_id']) }}>
				{% if result['player1_pt'] == 2 %} <b> {% endif %}
					{{ result['player1_mp'] ~ '(' ~ (result['player1_qs'] if result['player1_qs'] != None else 'F') ~ ')'  }} 
				{% if result['player1_pt'] == 2 %} </b> {% endif %}
			-
				{% if result['player2_pt'] == 2 %} <b> {% endif %}
					{{ result['player2_mp'] ~ '(' ~ (result['player2_qs'] if result['player2_qs'] != None else 'F') ~ ')'  }} 
				{% if result['player2_pt'] == 2 %} </b> {% endif %}
				</a>
			</td>
			<td> {{ result['player2_name'] }} </td>
		</tr>
	{% endfor %}
	</table>

	<table>
		<tr>
			<td> # </td>
			<td> Question </td>
			<td> % Correct </td>
			<td> Avg. Defence </td>
		</tr>
	{% for question in info['questions'] %}
		<tr> 
			<td> {{ question['number'] }} </td>
			<td>
				<p> {{ question['text']  }} </p> 
				<p> ANSWER: {{ question['answer'] }} </p>
			</td>
			<td> {{ "{:.3f}".format(question['percent_correct']) }} </td>
			<td> {{ "{:.1f}".format(question['avg_defence']) }} </td>
		</tr>
	{% endfor %}
	</table>


{% endblock %}
