{% extends 'base.html' %}

{% block header %}
	<h1>
		{% block title %}
			{{ match_info['league_name'] }} Match Day {{ match_info['match_day'] }}:
			{{ match_info['player1_name'] }} v. {{ match_info['player2_name'] }}
		{% endblock %}
	</h1>
{% endblock %}

{% block content %}
	<table>
		<tr>
			<th> # </th>
			<th> Question </th>
			<th colspan="2"> {{ match_info['player1_name'] }} </th>
			<th colspan="2"> {{ match_info['player2_name'] }} </th>
		</tr>
		<tr>
			<th></th>
			<th></th>
			<th>Answer</th>
			<th>D</th>
			<th>D</th>
			<th>Answer</th>
		</tr>
	{% for question in submissions %}
		<tr> 
			<td> {{ question['question_number'] }} </td>
			<td>
				<p> {{ question['question']  }} </p> 
				<p> ANSWER: {{ question['correct_answer'] }} </p>
			</td>
			<td> 
				{% if question['player1_correct'] %} <b> {% endif %}
					{{ question['player1_answer'] }}
					{% if question['player1_correct'] %} </b> {% endif %}
			</td>
			<td>
				{% if question['player1_correct'] %} <b> {% endif %}
					{{ question['player2_defence'] }}
					{% if question['player1_correct'] %} </b> {% endif %}
			</td>
			<td> 
				{% if question['player2_correct'] %} <b> {% endif %}
					{{ question['player1_defence'] }}
					{% if question['player1_correct'] %} </b> {% endif %}
			</td>
			<td>
				{% if question['player2_correct'] %} <b> {% endif %}
					{{ question['player2_answer'] }}
					{% if question['player1_correct'] %} </b> {% endif %}
			</td>
		</tr>
	{% endfor %}
	</table>

{% endblock %}
