{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %} {{ md['league_name'] }}: Match Day {{ md['day'] }} {% endblock %}</h1>
{% endblock %}

{% block content %}
	<form method="post">
		{% for question in questions %}
			<fieldset>
				<legend> Question {{ question['question_number'] }} </legend>
				<label for="question">Question:</label>

				<p>
				<textarea name="question{{ question['question_number'] }}" id="question"
					rows="4" cols="80">{{ question['question_text'] }}</textarea>
				</p>
				<p>
				<label for="defence">Answer:</label>
				<input type="text" name="answer{{ question['question_number'] }}" id="answer" value="{{ question['answer_text'] }}">
				<label for="category">Category:</label>
				<select id="category" name="category{{ question['question_number'] }}">
					{% for category in categories %}
						{% if question['category_id'] == category['id'] %}
							<option value={{ category['id'] }} selected>{{ category['name'] }}</option>
						{% else %}
							<option value={{ category['id'] }}>{{ category['name'] }}</option>
						{% endif %}
					{% endfor %}
				</select>
				</p>
			</fieldset>
		{% endfor %}
		<input type="submit" value="Submit">
	</form>
{% endblock %}

