{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Register New League{% endblock %}</h1>
{% endblock %}

{% block content %}
	<form method="post">
		<label for="name">League Name</label>
		<input name="name" id="name" required>
		<label for="num_days">Number of Days</label>
		<input type="number" name="num_days" id="num_days" min="1" max="50" step="1" required>
		<input type="submit" value="Register">
	</form>
{% endblock %}

