{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %} {{ league_name }}: Match Day {{ match_day }} {% endblock %}</h1>
{% endblock %}

{% block content %}
	Your opponent today is 
	<a href={{ url_for('players.profile', player=opponent['name']) }}>{{ opponent['name'] }}</a>.
	<form method="post">
		{% for question in questions %}
			<fieldset>
				<legend> Question {{ question['question_number'] }} </legend>
				<p> {{ question['question_text'] }} </p>
				<label for="answer">Answer:</label>
				<input type="text" name={{ 10 + question['question_number'] }} id="answer">
				<label for="defence">Defence:</label>
				<input type="number" name={{ 20 + question['question_number'] }} id="defence" min="0" max="3" step="1" required>
			</fieldset>
		{% endfor %}
		<input type="submit" value="Submit">
	</form>
{% endblock %}

