{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %} {{ league_name }}: Match Day {{ match_day }} {% endblock %}</h1>
{% endblock %}

{% block content %}
	{{ player_name }}'s submission:
		{% for question in submission %}
			<h2>Question {{ question['question_number'] }}</h2>
				<p> {{ question['question_text'] }} </p>
				<p>
				<b> Given answer: </b> {{ question['given_answer'] }}
				</p>
				<p>
				<b> Correct answer: </b> {{ question['correct_answer'] }}
				</p>
				<b> Defence: </b> {{ question['defence'] }}
				</p>
		{% endfor %}
{% endblock %}

