{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %} {{ md['league_name'] }}: Match Day {{ md['day'] }} {% endblock %}</h1>
{% endblock %}

{% block content %}
	You have successfully submitted for this match day.
	<h2> Players who have already submitted </h2>
		The following players have submitted. Click their name to see their submission.
		<ul>
			{% for player in submitted_players %}
				<li>
					<a href={{ url_for('leagues.player_submission', league_name=md['league_name'], match_day=md['day'], player_name=player['name']) }}>
						{{ player['name'] }}
					</a>
				</li>
			{% endfor %}
		</ul>
{% endblock %}
