{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Players{% endblock %}</h1>
{% endblock %}

{% block content %}
	<ul>
	{% for player in player_list %}
		<li> {{ player['name'] }} </li>
	{% endfor %}
	</ul>

{% endblock %}

