{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %} {{ player['name'] }}'s Profile {% endblock %}</h1>
{% endblock %}

{% block content %}
	<h2> Participant </h2>
	{% for league in player_leagues %}
		<h3><a href={{ url_for('leagues.league', league_name=league['name']) }}>{{ league['name'] }}</a></h3>
		<div>
			<table>
				<tr>
					<th> Match Day </th>
					<th> Opponent </th>
					<th> Result </th>
				</tr>
				{% for match in league['matches']['completed'] %}
				<tr>
					<td> <a href={{ url_for('leagues.match_day', league_name=league['name'], match_day=match['day']) }}> {{ match['day'] }} </a> </td>
					<td> 
						<a href={{ url_for('players.profile', player=match['opp_name']) }}>
							{{ match['opp_name'] }} 
						</a>
					</td>
					<td> 
						<b>
						{% if match['pt'] == 2 %} W
						{% elif match['pt'] == 1 %} T
						{% elif match['pt'] == 0 %} L
						{% elif match['pt'] == -1 %} F
						{% endif %}
						</b>
						<a href={{ url_for('leagues.match', match_id=match['match_id']) }}>
						{{ match['mp'] ~ '(' ~ (match['correct'] if match['correct'] != None else 'F') ~ ')-' ~ match['opp_mp'] ~ '(' ~ (match['opp_correct'] if match['opp_correct'] != None else 'F') ~ ')' }}
						</a>
					</td>
				</tr>
				{% endfor %}
				{% for match in league['matches']['live'] %}
				<tr>
					<td> {{ match['day'] }} </td>
					<td> 
						<a href={{ url_for('players.profile', player=match['opp_name']) }}>
							{{ match['opp_name'] }} 
						</a>
					</td>
					<td> <a href={{ url_for('leagues.match_day', league_name=league['name'], match_day=match['day']) }}> Live </a> </td>
				</tr>
				{% endfor %}
				{% for match in league['matches']['tbd'] %}
				<tr>
					<td> {{ match['day'] }} </td>
					<td> 
						<a href={{ url_for('players.profile', player=match['opp_name']) }}>
							{{ match['opp_name'] }} 
						</a>
					</td>
					<td> TBD </td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div>
			<table>
				<tr>
					<th> Category </th>
					<th> Totals </th>
					<th> % </th>
				</tr>
				{% for category in league['stats']['category'] %}
				<tr>
					<td> {{ category['category_name'] }} </td>
					<td> {{ category['gets'] }}-{{ category['total'] }} </td>
					<td> {{ "{:.3f}".format(category['get_rate']) }} </td>
				</tr>
				{% endfor %}
				<tr>
					<td><b> Total </b></td>
					<td> {{ league['stats']['total']['gets'] }}-{{ league['stats']['total']['total'] }} </td>
					<td> {{ "{:.3f}".format(league['stats']['total']['get_rate']) if league['stats']['total']['total'] != Undefined else 0 }} </td>
				</tr>
			</table>
		</div>
	{% endfor %}

	<h2> Commissioner </h2>
	{% if not commissioner_leagues %}
		Not a commissioner for any leagues.
	{% else %}
		<ul>
			{% for league in commissioner_leagues %}
				<li><a href={{ url_for('leagues.league', league_name=league['name']) }}> {{ league['name'] }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}

{% endblock %}

