{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Change Password{% endblock %}</h1>
{% endblock %}

{% block content %}
	<form method="post">
		<label for="old">Old password</label>
		<input type="password" name="old" id="old" required>
		<label for="new">New password</label>
		<input type="password" name="new" id="new" required>
		<input type="submit" value="Register">
	</form>
{% endblock %}

