<!doctype html>
<title>{% block title %}{% endblock %} - GreatLearnLeague</title>
<link rel="stylesheet" href="{{ url_for('static', filename='sakura.css') }}">

<nav>
	<h1>GreatLearnLeague</h1>
	<p>
	<ul>
		{% if g.person %}
			<li><span>{{ g.person['name'] }}</span></li>
			<li><a href="{{ url_for('players.profile', player=g.person['name']) }}">Profile</a></li>
			<li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
			<li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
		{% else %}
			<li><a href="{{ url_for('auth.register') }}">Register</a></li>
			<li><a href="{{ url_for('auth.login') }}">Log In</a></li>
		{% endif %}
	</ul>
	</p>
</nav>
<section class="content">
	<header>
		{% block header %}{% endblock %}
	</header>
	{% for message in get_flashed_messages() %}
		<div class="flash">{{ message }}</div>
	{% endfor %}
	{% block content %}{% endblock %}
</section>

